<!DOCTYPE html>
<html>
    <head>
        <meta name="charset" content="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <meta name="author" content="Meron Edea">
        <meta name="description" content="Account setting">
        <link rel="stylesheet" href="style-1.css">
        <title>Account setting</title>
    </head>
    <body>
        <section>
            <div id="sectionTop">
                <div class="topTxt">
                    <h1><span>User Account Settings</span> </h1>  
                </div>
            </div>
            <div class="row">
                <div class="form col-6">
                    
                    <h2>Details</h2>
                    <form class="delivForm" method="POST">
                        
                        <label>Name: </label>
                        <input type="Username" placeholder="Username" name="Username" required><br>
                        
                        <label>Email: </label>
                        <input type="email" placeholder="Email" name="Email" required><br>
                        
                        <label>Today's Plastic bottles: </label>             
                        <input type="text" placeholder="today's" name="TPlastic" id="TPlastic"><br>
                        
                        <label>Total Plastic bottles: </label>
                        <input type="text" placeholder="total" name="totPLastic" id="totPLastic"><br>
                        
                        <label>amount in birr: </label>
                        <input type="number" placeholder="balance" name="balance" id="balance"><br>
                   
                        <hr>
                    </form>
                </div>
               
            </div>
        </section>
    </body>
    <footer>
        <div class="footer row">
            <address>
                call:<br>
                +251911223344<br>
                
            </address>
                <br><br>
                <p >Smart recycler   Copyright &copy; 2022/23, all rights reserved </p>
        </div>
    </footer>
</html>